.sidebar {
	display: flex;
	flex-direction: column;
	max-width: 507px;
	gap: 57px 0;
}

/* .image-container {
	max-height: 50px;
} */

.mattie-grant-image {
	max-height: 100%;
	max-width: 100%;
}

.mattie-grant-container {
	border: black 1px solid;
	min-height: 771px;
}

.img-circle {
	position: absolute;
	top: -147px;
	right: 97px;
	width: 275px;
	height: 275px;
	border-radius: 50%;
	margin: 20px;
	border: 10px solid white;
}

.aside-top-image {
	position: relative;
	width: 100%;
	max-height: 260px;
}

.about-me-aside {
	height: 14.3%;
	box-shadow: 0px 0px 2px darkgray;
	background-color: white;
}
.about-me-img {
	position: relative;
}

.about-me-text {
	margin-top: 160px;
	text-align: center;
	padding: 0 45px 0 45px;
}

.about-me-name {
	margin-bottom: 0;
}

div h2 {
	font-weight: 500;
	font-family: var(--secondary-font);
	font-size: 27px;
}

.top-aside-text {
	margin-top: 28px;
	font-size: 21px;
	line-height: 1.6;
	letter-spacing: 0.1px;
}

.social-share {
	display: flex;
	margin-top: 37px;
}

.social-share > li {
	border: 1px #777 solid;
	border-radius: 50%;
	padding: 10px;
	flex-shrink: 0;
	flex-grow: 0;
	width: 41px;
	height: 41px;
	margin-left: 14px;
}

.social-share > li > a > i {
	font-size: 20px;
	color: #777;
}

.social-share > li > a {
	justify-self: center;
	align-self: center;
}

.social-share > li:nth-child(1) {
	margin-left: 114px;
}

.popular-posts-aside {
	background-color: white;
	padding: 0 40px 0 40px;
	box-shadow: 0px 0px 2px darkgray;
}
.popular-posts-aside > h4 {
	font-size: 26px;
}
img.popular-post {
	width: 425px;
	height: 285px;
	margin-bottom: 15px;
}

.ppost-text h5 {
	margin: 0 0 12px 0;
	font-family: Oswald;
	font-size: 20px;
}

.ppost-text time {
	font-style: italic;
	font-size: 20px;
	color: #777;
}

.popular-post-container {
	border-bottom: #777 solid 1px;
	height: 400px;
	margin-bottom: 25px;
}

.popular-post-container.last {
	border: none;
}

.latest-posts-aside {
	background-color: white;
	padding: 10px 40px 0 40px;
	box-shadow: 0px 0px 2px darkgray;
}

.latest-post-content {
	margin-bottom: 20px;
	display: flex;
	border-bottom: #777 solid 1px;
	height: 130px;
}

.latest-posts-aside h4 {
	letter-spacing: 1px;
	margin-bottom: 40px;
}

.latest-post-image {
	width: 145px;
	height: 104px;
}

.latest-post-text {
	margin-left: 25px;
}

.latest-post-text h5 {
	margin: 0;
	font-family: Oswald;
	font-size: 19px;
}

.latest-post-text time {
	font-style: italic;
	font-size: 20px;
	color: #777;
}

.latest-post-content.last {
	border: none;
}

.instagram-feed-aside {
	background-color: white;
	padding: 10px 40px 0 40px;
	max-height: 15.2%;
	box-shadow: 0px 0px 2px darkgray;
}

.instagram-feed-aside h4 {
	letter-spacing: 1px;
	margin-bottom: 40px;
}

.instagram-feed-photos {
	display: grid;
	grid-template-rows: 23% 23% 23%;
	grid-template-columns: 48% 48%;
	grid-column-gap: 4%;
	grid-row-gap: 2.5%;
}

.ig-photo {
	width: 100%;
	height: 100%;
}
