@import url("_variables.css");
@import url("header.css");
@import url("contentLeft.css");
@import url("contentRight.css");
@import url("_media.css");

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: #f4f4f4;
	color: var(--dark-grey);
	font-family: var(--primary-font);
	font-size: 15px;
	line-height: 1.55;
	margin: 0;
}

a {
	text-decoration: none;
	transition: all 0.33s;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

footer {
	height: 100%;
	margin: 0 0 0 0;
}

h3 {
	margin-top: 2%;
	font-size: xx-large;
}

h4 {
	text-align: center;
	margin-top: 9%;
	font-size: x-large;
	font-family: "Oswald";
}

button {
	border: black solid 1px;
	margin-left: 1px;
	margin-top: 3.5%;
	width: 23%;
	font-size: x-large;
	padding-top: 1%;
	padding-bottom: 1.2%;
}

.content.container {
	margin-top: 49px;
	padding-left: initial;
	padding-right: initial;
}
/* 
.content main, .content .sidebar {
    padding-left: 15px;
    padding-right: 15px;
} */

.container {
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.page-bottom {
	text-align: center;
	vertical-align: m;
}

.follow-us {
	padding-top: 46px;
	height: 113px;
	background-color: white;
	font-size: 20px;
	color: black;
}

.sample-images {
	display: flex;
	background-color: blue;
	gap: 0%;
	height: 252px;
}

.bottom-image {
	width: calc(100% / 8);
}

.footer {
	padding-top: 35px;
	height: 92px;
}

.button {
	display: flex;
	list-style: none;
	height: 50px;
	width: 47px;
	margin-right: 5px;
	align-items: center;
	justify-content: center;
	color: black;
}

.more-pages {
	width: 55px;
}

.latest-posts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 7px;
	width: 84%;
	max-height: 77%;
	min-height: 17%;
	align-self: center;
	margin-top: 10px;
	margin-bottom: 10%;
	padding: 0;
}

.lpost {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	max-height: 100px;
	min-height: 33%;
	border-top: 2px black solid;
	padding-top: 6%;
}

.latest-posts :nth-child(1) {
	border-top: 0px;
	margin-top: 0%;
	padding-top: 0px;
	min-height: 28%;
}

.latest-post {
	background-color: black;
	width: 33%;
	height: 108px;
}

.ig-feed-photos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 2px;
	background-color: coral;
	width: 84%;
	max-height: 79%;
	align-self: center;
	margin-top: 10px;
	margin-bottom: 10%;
	border: black 5px solid;
}

.ig-photo {
	background-color: black;
	width: 48%;
	height: 31%;
}

.lpost-text {
	max-height: 100px;
	background-color: chartreuse;
	padding-right: 10px;
}

h5 {
	margin: 3px 0 17px 10px;
	font-size: medium;
}

.lpost-text time {
	margin: 0 0 0 10px;
}

.popular-posts {
	display: flex;
	background-color: coral;
	width: 84%;
	max-height: 79%;
	margin-top: 10px;
	margin-bottom: 10%;
	margin-left: 8%;
}

.ppost {
	display: flex;
	flex-direction: column;
	max-height: 100px;
	min-height: 400px;
	width: 100%;
	border-bottom: 2px black solid;
	padding-top: 6%;
}

.popular-post {
	min-height: 100px;
	min-width: 100px;
	background-color: blueviolet;
}
